---
import Button from '../components/Button.astro';
import Input from '../components/Input.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import logo from "../assets/svgs/logo.svg"; 
---

<Layout title="Anbu Manga | Venta de Mangas en el Perú">
	<main>
    <section id="hero" class="bg-manga-pattern py-40">
      <div class="grid grid-cols-2 w-10/12 mx-auto text-white">
        <div class="mr-12">
          <div class="flex flex-row items-center mb-2">
            <Image class="w-8 pr-2" src={logo} alt="Anbu Manga logo." />
            <p class="text-sm font-bold">Anbu Manga</p>
          </div>
          <h1>Explora la web donde tu destino manga te espera</h1>
          <p class="mt-2 font-bold text-lg">Compra calidad, compra en Anbu Manga</p>
          <p class="mt-8">Regístrate Ahora y Obtén un 10% de Descuento</p>
          <div class="flex flex-row mt-4">
            <Input placeholder="Escribe tu email"/>
            <div class="mr-4"></div>
            <Button text="Enviar" />
          </div>
        </div>
        <div class="ml-12 text-center">
          <div class="bg-am-gray h-72 mb-4">
            VIDEO
          </div>
          <Button text="Comprar ahora"/>
        </div>
      </div>
    </section>
	</main>
</Layout>

<style>
	h1 {
		font-size: 48px;
		font-weight: 500;
		text-align: left;
	}
	h2 {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.6;
		text-align: center;
	}
</style>
