---
import Button from '../components/Button.astro';
import Input from '../components/Input.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import logo from "../assets/svgs/logo.svg"; 
---

<Layout title="Anbu Manga | Venta de Mangas en el Perú">
	<main>
    <section id="hero" class="bg-manga-pattern py-4 md:py-20 lg:py-40">
      <div class="grid lg:grid-cols-2 w-10/12 mx-auto text-white text-center lg:text-left">
        <div class="lg:mr-12 my-4 lg:my-0 ">
          <div class="flex flex-row items-center mb-2">
            <Image class="w-8 pr-2" src={logo} alt="Anbu Manga logo." />
            <p class="text-sm font-bold">Anbu Manga</p>
          </div>
          <h1 class="text-4xl lg:text-5xl">Explora la web donde tu destino manga te espera</h1>
          <p class="mt-2 font-bold text-lg">Compra calidad, compra en Anbu Manga</p>
          <p class="mt-8">Regístrate Ahora y Obtén un 10% de Descuento</p>
          <div class="flex flex-col md:flex-row mt-4 items-center md:items-start justify-center lg:justify-start">
            <Input placeholder="Escribe tu email"/>
            <div class="mt-4 md:mr-4 md:mt-0"></div>
            <Button text="Enviar" />
          </div>
        </div>
        <div class="lg:ml-12 text-center mt-8 lg:mt-0">
          <div class="bg-am-gray min-h-48 md:min-h-80 mb-4">
            VIDEO
          </div>
          <Button text="Comprar ahora"/>
        </div>
      </div>
    </section>
	</main>
</Layout>

<style>
	h1 {
		line-height: 1.6;
		font-weight: 500;
	}
	h2 {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.6;
		text-align: center;
	}
</style>
