---
const { title } = Astro.props;

---

<div class="bg-am-red text-white px-4 pt-10 w-64 rounded-t-2xl shadow-lg mx-auto text-center max-w-72">
  <h2 class="text-xl font-bold mb-10 mx-2">{title}</h2>
  <p class="mt-4">
    <slot />
  </p>
</div>

